---
import "../css/style.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Studio Gravix</title>

		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<nav class="navbar">
				<div class="logo">
					<div class="logo-icon">
						<img src="/GRAVIX_SIN_FONDO.png" alt="" />
					</div>
					<!-- <span>Studio Gravix</span> -->
				</div>
				<ul class="nav-links">
					<li><a href="/">Inicio</a></li>
					<li><a href="/servicios">Servicios</a></li>
					<li><a href="/contacto">Contacto</a></li>
				</ul>
			</nav>
		</header>
		<section class="hero">
			<div class="hero-content">
				<div class="hero-badge">
					Desarrollo Web & Aplicaciones Móviles
				</div>
				<h1>Diseñamos experiencias digitales modernas.</h1>
				<p>
					Creamos sitios web, sistemas y aplicaciones móviles a medida
					para negocios que buscan destacar en internet.
				</p>
				<div class="hero-buttons">
					<a href="/contacto" class="btn-primary">
						Solicitar proyecto
					</a>
					<a href="/servicios" class="btn-secondary">
						Nuestros servicios
					</a>
				</div>
			</div>
		</section>
		<section class="services-preview">
			<div class="section-title">
				<h2>Lo que hacemos</h2>
				<p>Soluciones digitales diseñadas para crecer contigo.</p>
			</div>
			<div class="cards">
				<div class="card reveal">
					<h3>Desarrollo Web</h3>
					<p>
						Landing pages, sitios corporativos, e-commerce y
						sistemas web.
					</p>
				</div>
				<div class="card reveal">
					<h3>Aplicaciones Móviles</h3>
					<p>
						Aplicaciones Android desarrolladas específicamente para
						tu negocio.
					</p>
				</div>
				<div class="card reveal">
					<h3>Soluciones Personalizadas</h3>
					<p>Software adaptado a tus procesos y necesidades.</p>
				</div>
			</div>
		</section>
		<section class="cta">
			<h2>¿Tienes una idea?</h2>
			<p>Convirtámosla en un producto digital profesional.</p>
			<a href="/contacto" class="btn-primary"> Hablemos </a>
		</section>
		<footer>
			<div class="footer-links">
				<a href="/privacidad">Aviso de Privacidad</a>
				<a href="/terminos">Términos y Condiciones</a>
			</div>
			<p>© 2026 Studio Gravix. Todos los derechos reservados.</p>
		</footer>

		<script src="../js/main.js"></script>
	</body>
</html>
